<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/l2t-paper-slider/l2t-paper-slider.html">
<link rel="import" href="../../../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="./components/card-news/card-news.html">
<link rel="import" href="./home-style.html">

<dom-module id="app-home">
  <template>
  <style include="home-style"></style>
  <firebase-app
    name="meetcoders"
    api-key="AIzaSyC-mugsbchfjtB_nE9M5Jj8mKN4NTucHvA"
    auth-domain="meetcoders-devsite.firebaseapp.com"
    database-url="https://meetcoders-devsite.firebaseio.com">
  </firebase-app>

    <firebase-document
      app-name="meetcoders"
      path="/data/news"
      data="{{news}}">
    </firebase-document>
    <firebase-document
      app-name="meetcoders"
      path="/data/carousel"
      data="{{sliderImage}}">
    </firebase-document>

  <l2t-paper-slider class="sliders" total-slides="{{imagesSize}}">
    <template is="dom-repeat" items="{{sliderImage}}" as="image">
      <paper-slide
        style=" background-repeat: no-repeat; background-image: url('{{image}}');background-size: cover;">
      </paper-slide>
    </template>
  </l2t-paper-slider>
  <template is="dom-repeat" items="{{news}}">
    <card-news
     id="{{index}}"
     title="{{item.title}}"
     image="{{item.image}}"
     description="{{item.description}}">
    </card-news>
  </template>
  </template>
  <script src="./app-home.js"></script>
</dom-module>
